<!-- 
  This is the base template for rendering the fetched characters from your own API.
  Add styling by writing your own CSS or use some CSS library such as Bootstrap to 
  make your app look better.  
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Software Fellowship 2021 Project</title>
  </head>

  <body>
    {% block body %} {% endblock body %}
  </body>
</html>
